body{
    margin:0;
    min-height:100vh;

    background:
        repeating-linear-gradient(
            45deg,
            #040356 0px,
            #0a013d 36px,
            #25d3f6 0px,
            #3b82f6 2px
        );
}

article{
    background: rgba(8, 1, 27, 0.12);

    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);

    border: 3px solid rgba(255,255,255,0.25);
    border-radius:36px;
}

main.container {
    background: transparent !important;
}

.hero {
    display : flex;
    position: relative;
    width: 100%;
    height: 320px;
    overflow: visible;
    border-radius: 20px;
}

.title_image {
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 50px;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: white;
    text-align: center;

    background: rgba(0,0,0,0.45);
    padding: 20px;
    border-radius: 16px;
}

.mascot{
    position:absolute;
    top:25%;
    left:80%;

    width:200px;
    height:auto;
}