body{
    margin:0;
    min-height:100vh;
    line-height:1.6;

    background:
  linear-gradient(rgba(0,255,255,0.3) 3px, transparent 3px),
  linear-gradient(90deg, rgba(3, 253, 219, 0.3) 3px, transparent 3px);
background-size: 60px 60px;
background-color: #000310;
    
    font-family: 'Saira', sans-serif;
    text-shadow:
    0 0 3px #1101f7,
    0 0 6px #06b8f8,
    0 0 12px #05ffe6
}

article{
    background: linear-gradient(-45deg, #04d0d7, #34014c, #010a70);
background-size: 400% 400%;
animation: gradientMove 15s ease infinite;

    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);

    border: 3px solid rgba(255,255,255,0.25);
    border-radius:36px;
    
}
@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.article_text{
    color: white;
    background: rgba(2, 3, 59, 0.75);
    padding: 20px;
    border-radius: 16px;
}

main.container {
    background: transparent !important;
}

.hero {
    display : flex;
    position: relative;
    width: 100%;
    height: 320px;
    overflow: visible;
    border-radius: 20px;
}

.title_image {
    width: 100%;
    height: 320px;
    object-fit: cover;
    border: 1px solid rgb(8, 192, 243);
    border-radius: 20px;
}

.hero-text {
    font-style: italic;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: white;
    text-align: center;

    background: rgba(2, 3, 59, 0.75);
    padding: 20px;
    border-radius: 16px;
}

.mascot{
    position: absolute;
    top:25%;
    left:80%;

    width:15%;
    height: auto;
    animation: float 3s ease-in-out infinite;
}
@keyframes float{
    0%{ transform: translateY(-100px); }
    50%{ transform: translateY(100px); }
    100%{ transform: translateY(-100px); }
}


.neon {
  font-family: 'Orbitron', sans-serif;
  color: #ffffff;
    text-shadow:
    0 0 5px #1a01f7,
    0 0 10px #0511ff,
    0 0 20px #0511ff,
    0 0 40px #0511ff,
    0 0 80px #0511ff;
    animation: float 3s infinite;
}
@keyframes float {
  0%   { transform: translateY(0px); }
  50%  { transform: translateY(-3px); }
  100% { transform: translateY(0px); }
}


.title_text {
  font-family: 'Rajdhani', sans-serif;
  text-shadow:
    0 0 5px #1a01f7,
    0 0 10px #0511ff,
    0 0 20px #0511ff,
    0 0 40px #0511ff,
    0 0 80px #0511ff;

    font-style: bold;
    font-style: italic;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: white;
    text-align: center;

    background: rgba(2, 3, 59, 0.9);
    padding: 20px;
    border-radius: 16px;
}






